/*start reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------------------end reset------------------------*/


body{
	font-family: Tahoma, sans-serif;
	letter-spacing: 0.02em;
	line-height: 1.5em;
	font-size: 1em;
	color: #292929;
	min-height: 100vh;
}

h1{
	font-size: 4.209em;
}

h2{
	font-size: 3.157em;
}

h3{
	font-size: 2.369em;
}

h4{
	font-size: 1.777em;
	padding: 1em 0 0.5em 0;
}

h5{
	font-size: 1.333em;
	padding: 1em 0 0.5em 0;
	line-height: 1.25em;
}

p{
	padding: 0.5em 0;
}

small, .text_small {font-size: 0.75em;}

a{
	color: #d83f41;
	text-decoration: none;
}

a:visited{
	color: #9d3259;
}

.center-col{
	max-width: 660px;
	margin: auto;
	padding:0 20px;
}

.flex-all{
	display: flex;
	flex-direction: column;
}

.flex-left{
	display: flex;
	justify-content: flex-start;
}

.flex-right{
	display: flex;
	justify-content: flex-end;
}

.navbar{
	display: flex;
	justify-content:space-between;
	align-items: center;
	height: 60px;
	margin:auto;
}

.navbar a{
	padding: 0 1em;
}


.post-body{
	text-align: justify;
}

.main{
	padding:3em 0;
}

.post-title{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-height: 60px;
}

.post-text{
	padding-bottom: 3em;
}

.post-title small{
	padding: 1.5em 0 1em 0;
	min-width: 120px;
}

.post-head-image{
	width: 100%;
	overflow: hidden;
}

.post-head-image{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	flex: 0 0 252px;
}

.post-list li{
	padding-bottom: 3em;
}

.post-preview{
	display: flex;
	flex-direction: row;
}

.image-preview{
	/*width: 252px;*/
	height: 155px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	flex: 0 0 252px;
}

.text-preview{
	position: relative;
}

.content-preview{
	display: flex;
	flex-direction: column;
	padding-left: 15px;
}

.triangle-link{
	position: absolute;
	bottom: 8px;
	right:0;
}

.content-preview h5{
	padding: 0;
}

.image-preview img{
	width: 100%;
	height: auto;
	margin-top: -50%;
}

.hamburger-icon{
	display: none;
 	flex-direction:column;
 	cursor: pointer;
 	z-index: 10;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  background-color: #9d3259;
  margin: 4px 0;
  transition: 0.2s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#mobile-nav{
	position: absolute;
	top: -18em;
	left: 0px;
	/*height: 100%*/
	width: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 0.5s;
	z-index: 5;
}

#mobile-nav-shade{
	background-color: transparent;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s;
	z-index: 2;
	display: none;
}

#mobile-nav a{
	padding: 1em;
}


.onscreen{
	top: 0px !important;
}

.visible{
	display: inherit !important;
	background-color: #00000042 !important;
	transition: 0.5s;
}

.social-images{
	display: flex;
	align-items: center;
	justify-content: center;
}


.neighbour-posts{
	display: flex;
	justify-content: space-between;
}

.neighbour-posts .image-preview{
	flex: 0 0 156px;
}

.neighbour-posts .content-preview{
	padding-left: 0;
}

.neighbour-posts .post-preview{
	padding:5px;
}


.neighbour-posts h5{
	padding: 0.5em 0 0.5em 0;
}

.foot{
	min-height: 600px;
	background-color: lightgrey;
}

@media(max-width: 660px){

	.hamburger-icon{
		display: flex;
	}

	.post-title{
		flex-direction: column;
		align-items: flex-start;
	}

	.post-title small{
		padding: 0;
	}

	.post-preview{
		flex-direction: column;
	}

	.content-preview{
		padding: 0;
	}

	.content-preview h5{
		padding: 1em 0 0.5em 0;
	}


	.no-mobile a{
		display: none !important;
	}

	.image-preview, .post-head-image{
		flex: 0 0 156px;
	}

}

/*@media(max-width: 660px){
		.image-preview{
		flex: 0 0 252px;
	}
}*/