<div class="navbar center-col">
	<div class="flex-left">
		<a href="https://wintersolacegame.com" style="padding-left: 0">Winter Solace</a>
	</div>
	<div class="flex-right">
		<div class="hamburger-icon" onclick="hamburgerSwap(this);openNav()">
			 	<div class="bar1"></div>
 				<div class="bar2"></div>
  				<div class="bar3"></div>
		</div>
		<a href="/blog">blog</a>
		<a href="/presskit">presskit()</a>
		<a href="/contact">contact</a>
		<a href="">twitter</a>
		<a href="" style="padding-right: 0">discord</a>
	</div>

	<div class="center-col" id="mobile-nav">
		<a href="/blog">blog</a>
		<a href="/presskit">presskit()</a>
		<a href="/contact">contact</a>
		<div class="social-images">
			<a href="">twitter</a>
			<a href="" style="padding-right: 0">discord</a>
		</div>
	</div>

</div>

<script type="text/javascript">
	function hamburgerSwap(x) {
		x.classList.toggle("change");
	}

	function openNav() {
		var x = document.getElementById("mobile-nav");
		x.classList.toggle("offscreen");
	}

</script>